<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="shortcut icon" href="[% static_url %]/favicon.ico">
    <title>Create or update an FM scan user</title>
  </head>
  [% message %]
  <hr>
  <body>
[% FOREACH user IN accounts_found %]
    <form method="POST" enctype="text/html" action="[% c.uri_for('fm_admin_form_do') %]">
      <table>
         <tr><td>Tuner ID (search only):</td><td><input type="text" name="tuner_key" value="[% user.tuner_key %]"
  [% IF user.tuner_key %] readonly [% END %]></td></tr>
         <tr><td>Email:</td><td><input type="text" name="email" value="[% user.email %]"></td></tr>
         <tr><td>User:</td><td><input type="text" name="user" value="[% user.user %]"></td></tr>
         <tr><td>Password:</td><td><input type="text" name="password" value="[% user.password %]"></td></tr>
         <tr><td>User location:</td><td><input type="text" name="user_description" value="[% user.user_description %]"></td></tr>
         <tr><td>Latitude (new only):</td><td><input type="text" name="latitude" value="[% user.latitude %]"
  [% IF user.tuner_key %] readonly [% END %]></td></tr>
         <tr><td>Longitude (new only):</td><td><input type="text" name="longitude" value="[% user.longitude %]"
  [% IF user.tuner_key %] readonly [% END %]></td></tr>
         <tr><td>Tuner Description:</td><td><input type="text" name="tuner_description" value="[% user.tuner_description %]"></td></tr>
         <tr><td>Admin Password:</td><td><input type="text" name="fm_admin_pw" value="[% fm_admin_pw %]"></td></tr>
      </table>
  [% IF fm_admin_pw %]
      <input type="submit" name="submit" value="Update">
  [% ELSE %]
      <input type="submit" name="submit" value="New">
      <input type="submit" name="submit" value="Search">
  [% END %]
    </form>
    <hr>
[% END %]
  </body>
</html>

