<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="[% static_url %]/favicon.ico">
  <title>FM stations received at [% tuner.user_key.description %] [% tuner.description %]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" integrity="sha384-7tY7Dc2Q8WQTKGz2Fa0vC4dWQo07N4mJjKvHfIGnxuC4vPqFGFQppd9b3NWpf18/" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css" integrity="sha384-eS4bw6aEvhCSXWGP85ANR/N8isWKzT7P36NvcuTJGkrj6wsbxLVpXslrNXYHyseD" crossorigin="anonymous"> 
  <link href="[% static_url %]/one_tuner.css" rel="stylesheet">

</head>
<body>
    <div class="col-xs-3 fullheight boxit center-text" id="right-container">
      <div id="stations-config">
        <p>
          <button type=button" class="btn btn-primary btn-sm" id="btn-config">
            Hide Configure
          </button>
        </p>
      </div> <!-- end of stations-config -->
      <div class="btn-group-box-top" id="time-frame">
        <p>Time Frame</p>
        <div class="btn-group-vertical btn-group-md hidden-lg hidden-md" data-toggle="buttons">
          <label class="btn btn-primary" value="last-24-hours">
            <input type="radio"> 24 hours
          </label>
          <label class="btn btn-primary" value="ever">
            <input type="radio"> Ever
          </label>
        </div> <!-- end of Time frame btn-group btn-group-md -->
        <div class="btn-group-vertical btn-group-xs hidden-xs hidden-sm" data-toggle="buttons">
          <label class="btn btn-primary" value="last-24-hours">
            <input type="radio"> Last 24 hours
          </label>
          <label class="btn btn-primary" value="ever">
            <input type="radio"> Ever Received
          </label>
        </div> <!-- end of Time frame btn-group btn-group-xs -->
      </div> <!-- end of time frame group -->
      <div class="btn-group-box" id="sort-by">
        <p>Sort by</p>
        <div class="btn-group-vertical btn-group-md hidden-md hidden-lg" data-toggle="buttons">
          <label class="btn btn-primary" value="distance">
            <input type="radio"> Distance
          </label>
          <label class="btn btn-primary" value="frequency">
            <input type="radio"> MHz
          </label>
          <label class="btn btn-primary" value="time-received">
            <input type="radio"> Time
          </label>
          <label class="btn btn-primary" value="azimuth">
            <input type="radio"> Azimuth
          </label>
          <label class="btn btn-primary" value="callsign">
            <input type="radio"> Callsign
          </label>
        </div> <!-- end of Sort by btn-group-vertical btn-group-md -->
        <div class="btn-group-vertical btn-group-xs hidden-sm hidden-xs" data-toggle="buttons">
          <label class="btn btn-primary" value="distance">
            <input type="radio"> Distance
          </label>
          <label class="btn btn-primary" value="frequency">
            <input type="radio"> Frequency
          </label>
          <label class="btn btn-primary" value="time-received">
            <input type="radio"> Time Received
          </label>
          <label class="btn btn-primary" value="azimuth">
            <input type="radio"> Azimuth
          </label>
          <label class="btn btn-primary" value="callsign">
            <input type="radio"> Callsign
          </label>
        </div> <!-- end of Sort by btn-group-vertical btn-group-xs -->
      </div> <!-- end of sort-by group -->
      <div class="btn-group-box" id="distance-units">
        <p>Distance Units</p>
        <div class="btn-group-vertical btn-group-md hidden-lg hidden-md" data-toggle="buttons">
          <label class="btn btn-primary" value="miles">
            <input type="radio"> Miles
          </label>
          <label class="btn btn-primary" value="km">
            <input type="radio"> Km
          </label>
        </div> <!-- end of Distance Units btn-group btn-group-md -->
        <div class="btn-group-vertical btn-group-xs hidden-sm hidden-xs" data-toggle="buttons">
          <label class="btn btn-primary" value="miles">
            <input type="radio"> Miles
          </label>
          <label class="btn btn-primary" value="km">
            <input type="radio"> Kilometers
          </label>
        </div> <!-- end of Distance Units btn-group btn-group-xs -->
      </div> <!-- end of Distance Units group -->
      <div class="btn-group-box fullheight" id="stations-rx-list">
        <p>Stations Received</p>
        <ul id="stations-received-ul" class="list-unstyled">
        </ul>
      </div> <!-- end of Stations Received group -->
    </div> <!-- end of controls -->
    <div class="col-xs-9 boxit" id="right-side">
      <div id="map-legend">
        Click on a callsign for more information.  Light gray: heard within last 15 minutes.  Dark Gray: Heard within last 30 minutes.  Black: Heard more than 30 minutes ago.
      </div> <!-- end of map-legend -->
      <div id="stations-map">
      </div><!-- end of stations-map -->
    </div> <!-- end of righ-side -->


  <!--pass tuner_id to javascript from template toolkit-->
  <script type="text/javascript">
var tuner_key="[% tuner.tuner_key %]";
var root_url = '[% root_url %]'
var static_url = '[% static_url %]'
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js" integrity="sha384-aBL3Lzi6c9LNDGvpHkZrrm3ZVsIwohDD7CDozL0pk8FwCrfmV7H9w8j3L7ikEv6h" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js" integrity="sha384-DKoN2gpE9Yt/u0fuNvcJBn4n7wjnKFKjg4+Iz4ORs52lUc0Qp++smhHtWwHeapVW" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha384-tSi+YsgNwyohDGfW/VhY51IK3RKAPYDcj1sNXJ16oRAyDP++K0NCzSCUW78EMFmf" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prototype/1.7.3/prototype.min.js" integrity="sha384-HqaJW3qHmTPuOE4Iz+OGNDeE2ge5Uj2X4gRJ5QZuzTMNVVqTzRNJ6OB6ET541QUx" crossorigin="anonymous"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js" integrity="sha384-wKOriz2x8/bF1D9t6PuKhSpxfhHeVi9huvyuxJrrShSJpi5+rmRIsM90UuWbdAYJ" crossorigin="anonymous"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.3.3/esri-leaflet.js" integrity="sha384-DRU87xAC2xuTFiLGPiPBXyEf7OPF7QcpaWUC10Z0GIImVUAUgVwxAPvY9uYVWxpj" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/leaflet.geodesic@2.5.2/dist/leaflet.geodesic.umd.min.js" integrity="sha384-vGLMDCLYo4BKNB1JZYvqPs5vOLVcV4/IUkgy33FkcZkAjBnbF4yxIlUrWRXlPgwr" crossorigin="anonymous"></script> 
  <script src="[% static_url %]/fm_one_tuner.js"></script>  
</body>
</html>
