<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <link rel="shortcut icon" href="[% static_url %]/favicon.ico">
	<title>TV reception map</title>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&key=[% gmap_key %]" type="text/javascript"></script>
	<script src="[% static_url %]/markerwithlabel_packed.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js" type="text/javascript"></script>
	<script type="text/javascript">
// pass paths, tuner_id and tuner_number to javascript from template toolkit
var root_url = '[% root_url %]'
var static_url = '[% static_url %]'
var tuner_id = [];
var tuner_number = [];
[%- item_count = 0 -%]
[%- FOREACH item IN tuner_info -%]
[% IF item_count % 2 == 0 %]
tuner_id.push("[% item %]");
[%- ELSE %]
tuner_number.push("[% item %]");
[%- END -%]
[%- item_count = item_count + 1 -%]
[%- END -%]
        </script>
	<script src="[% static_url %]/common_map_functions.js" type="text/javascript"></script>
	<script src="[% static_url %]/many_tuner_map_functions.js" type="text/javascript"></script>
	<link href="[% static_url %]/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="sidebar-right">
	<div id="toolbar">
                <!-- No page break on ownerId -->
		<h1 id="ownerId"> TV stations received as of </h1>
		<!-- Time and Date gets set by javascript -->
                <h1 id="lastUpdateTime"></h1><br>
		<img src="[% static_url %]/images/green_dot.png" width='15' height='15' />Strong signal
	        <img src="[% static_url %]/images/yellow_dot.png" width='15' height='15' />Medium signal
	        <img src="[% static_url %]/images/red_dot.png" width='15' height='15' />Weak signal
	        <img src="[% static_url %]/images/black_dot.png" width='15' height='15' />Detected in last 24 hours, but not currently<br>
                This page updates every five minutes.
                Click on a call sign for station information.
                Thanks to <a href="http://www.rabbitears.info">www.rabbitears.info</a> for TSID data.
	</div>
	<div id="content">
		<div id="map-wrapper">
			<div id="map"></div>
		</div>
		<div id="sidebar">
                        Reception locations
			<ul id="sidebar-list">
[%- FOREACH location IN reception_locations -%]
                           <li>[% location %]</li>
[%- END -%]
			</ul>
		</div>
	</div>
</body>
</html>
